body {
  font: 16px 'Helvetica Neue','Helvetica','Arial',sans-serif;
  line-height: 1.8em;
  margin: 0 0;
  overflow: hidden;
}

.summary {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 520px;
  height: calc(100% - 40px);
  overflow: scroll;
}

.summary,
.details {
  padding: 10px 30px;
  background-color: #fff;
  color: #222;
  opacity: 0.85;
}

.details {
  position: absolute;
  top: 20px;
  left: 616px;
  width: 400px;
}

.legend {
  margin-bottom: -15px;
}

.legend span {
  display: inline-block;
  cursor: pointer;
  border-top: 10px solid #000;
}

.legend span.selected,
.selected .legend span {
  font-weight: bold;
}

/* create a hidden element, so that the width doesn't change when
 * select or unselect this label on a legend (toggles bold font weight) */
.legend span::after {
  content: attr(title);
  font-weight: bold;
  overflow: hidden;
  height: 1px;
  display: block;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 24px;
  margin-top: 1.5em;
}

h1, h2, strong, a {
  color: #222;
}

h1 > a, h2 > a {
  text-decoration: none;
  color: #888;
}

header {
  margin-top: 5px;
  height: 25px;
  color: #888;
  position: relative;
  border-bottom: 1px solid #ccc;
}

footer {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
  color: #888;
  border-top: 1px solid #ccc;
}

footer a {
  color: #888;
}

.align-left,
.align-center,
.align-right {
  position: absolute;
  top: 0;
  width: 100%;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  font: bold 14px sans-serif;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
}

input {
  width: 300px;
  padding: 0px 4px;
  border: none;
  border-bottom: 1px solid #888;
  font: inherit;
}

.btn-filter {
  margin-right: 8px;
}

pre {
  overflow: hidden;
}
